*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightgray;
}

nav{
    background-color: red;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}

.menu{
    width: 500px;
    height: 100px;
    background-color: greenyellow;
}

.accedi{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
}


.text-content{
    width: 70%;
    margin: auto;
    background-color: lightsalmon;
    height: 400px;
    text-align: center;
    color:black;
}
/* 
.text-content{
    text-align: center;
    color:black;
} */

h1{
    font-size: 50px;
    padding-top: 30px;
}

.info{
    width: 80%;
    margin: auto;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.immagine{
    width: 45%;
    height: 200px;
}

.text{
    width: 45%;
    height: 200px;
}

.uno{
    background-color: blanchedalmond;
}

.due{
    background-color:darkturquoise
}

.tre{
    background-color: cornflowerblue;
}

.tech{
    background-color: forestgreen;
    padding-top: 40px;
}

.tech > *{
    width: 80%;
    margin: auto;
    height: 200px;
}

.sottotitolo{
    background-color: darkorange;
    text-align: center;
}

.saluti{
    background-color: fuchsia;
}

.download{
    background-color: mediumvioletred;
}

footer{
    background-color: darkgray;
}

.columns{
    display: flex;
    width: 80%;
    margin: auto;
    height: 600px;
    justify-content: space-between;
}

.col{
    width: calc(100%/5);
}

.col-1{
    background-color: lawngreen;
    width: 500px;
}

.col-2{
    background-color: white;
}

.col-3{
    background-color: magenta;
}

.col-4{
    background-color: lightseagreen;
}

.col-5{
    background-color: lightpink;
}

.piè{
    border-top: 2px solid blue;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.piè > *{
    height: 100px;
    width: 200px;
    background-color: maroon;
}

